form {
    display: flex;
    flex-direction: column;
    
}

body {
    width: 300px;
}

#userId, #inputId, #submit {
    margin: 10px;
}

#cardDetail {
    width: 200px;
    height: 200px;
    margin: 10px;
    background-color: rgb(215, 255, 255);
    border-radius: 5px;
}

img {
    width: 50%;
    height: 50%;
    margin: 10px;
}